.player-vis{
    width: 69%;
    float: left;
    box-sizing: border-box;
    position: relative;
}

#viz{
}

h6.plot-heading{
    margin: 0px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.graph-container{
    clear: both;
    overflow: auto;
    padding-bottom: 60px;
}

.viz-container{
    position: relative;
}

.viz-container > h6{
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 0px;
}

.fullscreen-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9999999999999999;
    font-size: 24px;
    cursor: pointer
}

.players-graph {
    width: 31%;
    float: right;
    position: relative;
    padding-top: 25px;
}