.expander{
    position: relative;
    text-align:left;
    display: inline-block;
    margin-right: 4px;
}

.expand-button-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99999999999999;
}

.expander button{
    outline: none;
    cursor: pointer;
}

.expand-button button{
    width: 120px;
    font-weight: bold;
    text-align:center;
    border-left: 1px solid #cdcdcd;
    margin-right: 0px;
    margin-bottom: 0px;
}

.expander .stat-button{
    margin-right: 0px;
    border-radius: 0px;
    border-left: 0;
    border-right: 1px solid #cdcdcd;
    border: 1px solid #cdcdcd;
    margin-bottom: 0px;
    width: 100%;
}

.expander .stat-button:last-child{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.expander .expand-button{
    display: inline-block;
}

.expander.expanded .expand-button button{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #222;
    color: white;
}







